[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio = "*"
pandas = "*"
numpy = "*"
google-generativeai = "*"
python-dotenv = "*"
gradio-modal = "*"

[dev-packages]

[requires]
python_version = ">=3.11"
